<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors list Page</title>
</head>
<body>
    <h1>Author List:</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.firstName}">Name</td>
            <td th:text="${author.lastName}">Surname</td>
        </tr>
    </table>
</body>
</html>